// Fonts
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

// Variables
:root {
  // Colors
  --black: #000000;
  --white: #FFFFFF;

  --color-primary: #7B1FA2;
  --color-secondary: #EECFFC;

  // Fonts
  --font-default: 'Nunito', 'Roboto', 'Arial', 'sans-serif';
  --font-weight-default: 500;
  --font-size-default: 1.6rem;
}