@use 'normalize';
@use 'variables';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  line-height: 1.25;
  text-rendering: optimizespeed;
  overflow-y: overlay;
  font-family: var(--font-default);
  font-weight: var(--font-weight-default);
  font-size: var(--font-size-default);
}