@forward 'normalize';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background-color: red;
  font-size: 1.6rem;
  line-height: 1.25;
  text-rendering: optimizespeed;
  overflow-y: overlay;
  font-family: $font-default;
}

